.address-section {
    background-color: #f8f9fa;
    padding: 2rem;
    text-align: center;
  }
  .homepage {
    margin-top: 50px;
  }
  
  .contact-form .form-control {
    border-radius: 5px;
  }
  
  .contact-form .form-control:focus {
    box-shadow: none;
  }

  .address {
    background: #1369a0;
    padding: 4px 8px;
    margin-bottom: 6px;
    display: inline-flex;
  }
  
  .contact-section {
    background-color: #0c2d4e;
    padding: 3rem 0;
    text-align: center;
  }
  
  .contact-form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
  
  .submit-button {
    background-color: #007bff;
    border-color: #007bff;
    transition: all 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  