.team-page {
  padding: 3rem 0;
}

.team-page h2 {
  margin-bottom: 2rem;
}

.employee-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
}

.employee-card {
  width: 400px;
  background-color: #f8f9fa;
  padding: 1rem;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px
}

.employee-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.employee-card h3 {
  margin-bottom: 0.5rem;
}

.employee-card p {
  margin-bottom: 0;
}

@media only screen and (max-width: 800px) {
  .employee-card {
    margin-right: 10px;
    margin-left: 10px;
  }
}